@{
    ViewData["Title"] = "Kontakt";
    ViewData["H1"] = "Kontakt";
}

<section class="contact-section kontakt-flex">
    <div class="kontakt-text">
        <h2>Kontaktinformationen</h2>

        <p><strong>Name:</strong> Jochim Marina</p>
        <p><strong>Adresse:</strong> Paulsgarten 14a, 53567 Asbach</p>
        <p><strong>Telefon:</strong> <a href="tel:+4917642722545">+49 176 42722545</a></p>

        <h3>Öffnungszeiten:</h3>
        <p>Montag – Freitag: 08:00 – 18:00</p>
        <p>Samstag: 08:00 – 14:00</p>
        <p>Sonntag: geschlossen</p>
        <p>Alle Termine werden nur telefonisch vereinbart</p>
    </div>

    <div class="kontakt-bild">
        <img src="\images\kontakt\IMG-20250517-WA0025.jpg" alt="Zertifizierte Nageldesignerin Marina Jochim im Studio mit Auszeichnungen und Urkunden im Hintergrund" />
    </div>
</section>
