@{
    ViewData["Title"] = "Preisliste";
    ViewData["H1"] = "Aktuelle Preisliste";
}

<section class="price-list">
    <h2>Unsere Preise</h2>
    <table>
        <tr><th>Behandlung</th><th>Preis</th></tr>
        <tr><td>Neu (Verlängerung)</td><td>70 €</td></tr>
        <tr><td>Auffüllen (Größe S/M) Natur</td><td>45 €</td></tr>
        <tr><td>Auffüllen mit Farbe (Größe S/M)</td><td>50 €</td></tr>
        <tr><td>Auffüllen mit Farbe (Größe L)</td><td>55 €</td></tr>
        <tr><td>French, Babyboomer</td><td>+10 €</td></tr>
        <tr><td>Nageldesign</td><td>ab 1 €</td></tr>
        <tr><td>Spa Maniküre</td><td>30 €</td></tr>
        <tr><td>Fußpflege (Smart) + Pediküre + Nagellack</td><td>50 €</td></tr>
        <tr><td>Fußpflege mit Gel-Lack</td><td>55 €</td></tr>
        <tr><td>Reparatur (pro Nagel)</td><td>3 €</td></tr>
        <tr><td>Nagellack entfernen</td><td>5 €</td></tr>
    </table>
</section>